.form-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0 1 auto;
    padding: 1em;

    .text-margin {
        margin: calc(0.375em - 1px) .6em;
    }
}