@charset "utf-8";
@import "_variables.sass";
@import "../../../node_modules/bulma/bulma.sass";

/********/
/* GRID */
/********/
div.App {
    display: grid;
}

    main {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 3fr;
    }

        #tools {
            grid-column: 1/-1;
        }

        #list {
            grid-column: 1/2;
        }

        #map {
            grid-column: 2/-1
        }

main {
    min-height: 700px;
    padding: 1em;

    .form-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 0 1 auto;
        padding-bottom: 1em;

        .text-margin {
            margin: calc(0.375em - 1px) .6em;
        }
    }

    #list {
        height: 500px;

        #listUl {
            overflow-y: scroll;
            height: calc(100% - 3rem);

            .menu-item {
                padding: 0.5em;
                border: 1px solid #242f3e;
                border-bottom: none;
                border-right: none;
            }

            .menu-item:hover {
                background-color: rgb(36, 47, 67);
                color: #ffffff;
                cursor: pointer;
            }

            .menu-item:last-child {
                border-bottom: 1px solid #242f3e;
            }
        }
    }

    #map {
        height: 500px;
    }
}

*:focus {
    border: 2px solid #3273dc;
    box-shadow: 0 0 0 0.25em rgba(50, 115, 220, 0.25);
}